/* custom fonts */
@font-face {font-family: 'HelveticaNeueLTStdBd';src: url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.eot') format('eot'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.svg') format('svg'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.ttf') format('truetype'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.woff') format('woff');}
@font-face {font-family: 'HelveticaNeueLTStdLt';src: url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.eot') format('eot'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.svg') format('svg'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.ttf') format('truetype'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.woff') format('woff');}
@font-face {font-family: 'HelveticaNeueLTStdHv';src: url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.eot') format('eot'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.svg') format('svg'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.ttf') format('truetype'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.woff') format('woff');}

* {
    box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100%;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: HelveticaNeueLTStdBd;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

h1 {
  text-transform: uppercase;
}

.landing {
  background-image: linear-gradient(to bottom left, #212121, #424242);
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}

.slide {
  width: 100%;
  height: 90vh;
  text-align: center;
}

#logo {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 80px;
  position: relative;
}

ol, ul {
  list-style: none;
}

.navlist {
  display: flex;
  flex: 1;
}

.navlist li {
  font-weight: 600;
  font-size: 15px;
  margin: auto 25px;
}

.navlist a {
  text-decoration: none;
  color: #BDBDBD;
}

.navlist a:hover {
  font-weight: bold;
  color: #fff;
}

.navHeader {
  width: 100%;
  z-index: 500;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 12.5px;
}

.navHeader ul {
  padding: 0px;
  margin: 0px;
}

.navHeader .navbar {
  position: relative;
  justify-content: left;
}

.landing {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ), url(../assets/img/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.hero {
  padding: 20px 10px;
  color: #fff;
  font-size: 40px;
  line-height: 5px;
}
