/* custom fonts */
@font-face {font-family: 'HelveticaNeueLTStdBd';src: url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.eot') format('eot'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.svg') format('svg'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.ttf') format('truetype'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdBd.woff') format('woff');}
@font-face {font-family: 'HelveticaNeueLTStdLt';src: url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.eot') format('eot'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.svg') format('svg'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.ttf') format('truetype'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/280/2803811/fonts/HelveticaNeueLTStdLt.woff') format('woff');}
@font-face {font-family: 'HelveticaNeueLTStdHv';src: url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.eot') format('eot'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.svg') format('svg'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.ttf') format('truetype'), url('https://s3.amazonaws.com/s3.clients.splashthat.com/img/events/id/286/2865432/fonts/HelveticaNeueLTStd-Hv.woff') format('woff');}

* {
    box-sizing: border-box;
}

body {
  background-color: #000;
  min-height: 100%;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: HelveticaNeueLTStdBd;
  font-weight: 400;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

h3 {
  font-size: 40px;
}

.hero h1 {
  text-transform: uppercase;
  font-family: HelveticaNeueLTStdHv;
  margin-bottom: 0;
}

.hero h4 {
  color: #E0E0E0;
  font-family: HelveticaNeueLTStdLt;
  display: inline-block;
}

#landing {
  background-image: linear-gradient(to bottom left, #212121, #424242);
  width: 100%;
  height: 100vh;
  padding-top: 80px;
}

.slide {
  width: 100%;
  height: 90vh;
  text-align: center;
}

#logo {
  display: inline-block;
  width: 100px;
  height: 50px;
  line-height: 80px;
  position: relative;
}

ol, ul {
  list-style: none;
}

hr {
  display: inline-block;
  width: 50px;
  margin: 11.5px 15px;
  color: #FFFFFF;
}

.overlay hr {
  display: block;
  color: #000;
  width: 175px;
  margin: 15px 5px -20px;
}

.navlist {
  display: flex;
  flex: 1;
}

.navlist li {
  font-weight: 600;
  font-size: 15px;
  margin: auto 25px;
}

.navlist a {
  text-decoration: none;
  color: #E0E0E0;
  padding-bottom: 5px;
}

.navlist a:hover {
  font-weight: bold;
  color: #fff;
}

.navlist a:active {
  font-weight: bold;
  color: #fff;
  border-bottom: solid 5px #fff;
}

.navHeader {
  width: 100%;
  z-index: 500;
  height: 50px;
  position: absolute;
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.navHeader ul {
  padding: 0px;
  margin: 0px;
}

.navHeader .navbar {
  position: relative;
  justify-content: left;
}

#landing {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
  ), url(../assets/img/banner.jpg);
  background-size: cover;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  text-align: center;
}

.hero {
  padding: 10px 0;
  margin: 0 auto;
  color: #fff;
  font-size: 40px;
  line-height: 5px;
}

#about {
  background-image: url(../assets/img/about-bg.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  font-family: HelveticaNeueLTStdHv;
  color: #000;
  width: 100%;
  height: 800px;
}

.overlay {
  background-color: #FFFFFF;
  width: 500px;
  height: 80%;
  margin: 0 auto auto 250px ;
  padding: 60px;
  z-index: 1;
  position: absolute;
}

#about h3 {
  margin: -15px auto 15px;
}

#about p {
  font-size: 20px;
  line-height: 40px;
  width: 400px;
  padding: 30px 0 0;
  text-align: left;
}

.about-img {
  margin: 160px auto 0 725px;
  width: 500px;
  display: flex;
  height: 80.2%;
  position: absolute;
  border: 25px solid #FFFFFF;
}

.trainer-img {
  height: 200px;
  width: auto;
  margin: 0;
}

#trainers {
  background-image: linear-gradient(#FFFFFF, #EEEEEE 33%, #BDBDBD 66%, #757575);
  font-family: HelveticaNeueLTStdHv;
  color: #000;
  width: 100%;
  height: auto;
  text-align: center;
}

#staff {
  background-image: linear-gradient(#757575, #424242 33%, #212121 66%, #000000);
  font-family: HelveticaNeueLTStdHv;
  color: #FFF;
  width: 100%;
  height: auto;
  text-align: center;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#trainers hr, #staff hr {
  display: block;
  color: #000;
  width: 250px;
  margin: -15px auto 15px;
}

.team-item {
	position: relative;
	margin: 17px 0 22px;
  padding: 20px;
	cursor: pointer;
	border-radius: 1px;
	padding-bottom: 84px;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(103, 117, 120, .09);
}

.text {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
	overflow: hidden;
	max-height: 84px;
	border: solid 1px #f2f2f2;
	border-top: 0;
	transition: all .5s ease-in-out;
	padding: 12.5px 15px;
	right: 0;
}

.team-item h3 {
	font-size: 30px;
	line-height: 1.2;
	text-align: left;
	transition: all .5s ease-in-out;
	max-height: 36px;
	margin-top: 5px;
  margin-bottom: 10px;
	overflow: hidden;
	color: #333;
}

.team-item h4 {
  color: #616161;
  font-size: 10px;
  font-weight: bold;
  height: 20px;
  letter-spacing: .5px;
  line-height: 10px;
  margin: 0 0 15px;
  text-align: left;
}

.team-item img {
  width: 100%;
}

.team-item .image {
  margin: -1px -1px 0;
  position: relative;
}

/* .team-item .image img:last-child {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

.team-item p {
	color: #616161;
	font-size: 12px;
	line-height: 1.2;
	margin: 0;
	padding-bottom: 5px;
	text-align: left;
}

.team-item p .em {
	display: block;
	float: left;
	height: 30px;
	margin: 0 5px 0 0;
	width: 30px;
	font-size: 25px;
}

.team-item:hover h3, .team-item:hover .text {
	max-height: 254px;
}

.team-item .text {
  max-height: none !important;
  height: 84px;
}

.team-item:hover .text {
    height: 100%;
    max-height: 100%;
}

.team-item.active .image img:last-child {
  opacity: 1;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4 {
    float: left;
    padding: 40px;
  }
  .col-sm-4 {
    width: 28.57142857%;
  }
@media (min-width: 1024px) {
  .col-md-offset-2 {
    margin-left: 14.28571429%;
  }
  .col-md-3 {
    width: 21.42857143%;
  }
}
