<header class="navHeader">
  <nav class="navbar" data-spy="affix" data-offset-top="800">
    <ul class="navlist">
      <li><a rel="noopener" data-no-turbolink="true" href="#landing"><img id="logo" src="../assets/img/logo.svg"></a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="#about">About</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="#trainers">Trainers</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="#classes">Classes</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="#schedule">Schedule</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="#contact">Contact</a></li>
    </ul>
  </nav>
</header>
