<div class="center">
  <div class="navbar-fixed-top mobile-nav">
    <nav>
      <div class="container">
        <div class="row">
          <li><a href="#landing">
            <img id="mobile-logo" src="../assets/img/logo.svg">
          </a></li>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-links" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </nav>
  </div>
  <div class="navbar-fixed-top desktop-nav">
    <nav>
      <div class="container" id="collapse-links">
        <ul class="row">
          <li class="margin-right"><a rel="noopener" data-no-turbolink="true" href="#landing">
            <img id="logo" src="../assets/img/logo.svg">
          </a></li>
          <li><a class="nav-link" rel="noopener" data-no-turbolink="true" href="#about">About</a></li>
          <li><a class="nav-link" rel="noopener" data-no-turbolink="true" href="#trainers">Trainers</a></li>
          <li><a class="nav-link" rel="noopener" data-no-turbolink="true" href="#classes">Classes</a></li>
          <li><a class="nav-link" rel="noopener" data-no-turbolink="true" href="#schedule">Schedule</a></li>
          <li><a class="nav-link" rel="noopener" data-no-turbolink="true" href="#contact">Contact</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
