<header class="navHeader">
  <div class="container">
    <nav class="navbar">
      <ul class="navlist">
        <li><img id="logo" src="../assets/img/logo.svg"></li>
        <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">About</a></li>
        <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/customers">Trainers</a></li>
        <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">Classes</a></li>
        <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">Schedule</a></li>
        <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
