<header class="navHeader">
  <nav class="navbar">
    <ul class="navlist">
      <li><a rel="noopener" data-no-turbolink="true" href="/"><img id="logo" src="../assets/img/logo.svg"></a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">About</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/customers">Trainers</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">Classes</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">Schedule</a></li>
      <li class="visible-sm"><a rel="noopener" data-no-turbolink="true" href="/pricing">Contact</a></li>
    </ul>
  </nav>
</header>
