<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/10.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>FITNESS ATTENDANT</h4>
          <h3>
            Allison<br>Sullivan
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/11.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>FITNESS ATTENDANT</h4>
          <h3>
            Edan<br>Nelson
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/12.png" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>FITNESS ATTENDANT</h4>
          <h3>
            Debra<br>Baldwin
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/13.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>FITNESS ATTENDANT</h4>
          <h3>
            Jason<br>Tafuri
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
  </div><!--row-->
</div><!-- container-->
