<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/1.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>OWNER / DIRECTOR OF TRAINING</h4>
          <h3>
            Kevin<br>Topper
          </h3>
          <p>A certified strength and conditioning coach for twenty-four (24) years, Kevin has worked for years with both professional and collegiate athletes and uses many of the same methods in training clients who would like to achieve their highest level of fitness.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/2.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>RN, BSN, OWNER / DIRECTOR OF TRAINER FOR SPECIAL POPULATIONS</h4>
          <h3>
            Cinde<br>Topper
          </h3>
          <p>After a year and a half as an RN in both the hospital setting and in medical-surgical rehabilitation with a focus on geriatrics, Cinde decided to bring her knowledge to the prevention of disease and maintenance of health. Cinde strives to help clients dealing with obesity, cardiovascular disease and type II diabetes, as well as but not limited to, clients with cancer, Alzheimer’s and other cognitive disorders, Parkinson’s, Multiple Sclerosis (MS), Chronic Obstructive Pulmonary Disease (COPD), Arthritis, depression and anxiety disorders.
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/3.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>TRAINER / GROUP CLASS INSTRUCTOR</h4>
          <h3>
            Jennifer<br>Wilson
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/4.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>FACILITY MANAGER / TRAINER / GROUP CLASS INSTRUCTOR</h4>
          <h3>
            Darci<br>Hill
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/5.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>MS ATHLETIC CONDITIONING TRAINING / TRAINER / GROUP CLASS INSTRUCTOR</h4>
          <h3>
            Branden<br>Peloso
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/6.png" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>BS IN EXERCISE SCIENCE / TRAINER FOR SPECIAL POPULATIONS</h4>
          <h3>
            Tyler<br>Morgan
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
  </div><!-- row -->
  <div class="row">
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/7.jpg" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>TRAINER / GROUP CLASS INSTRUCTOR</h4>
          <h3>
            Addie<br>Foley
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/8.png" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>GROUP CLASS INSTRUCTOR</h4>
          <h3>
            Mike<br>Huey
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-3 col-md-offset-1  col-sm-offset-0">
      <div class="team-item">
        <div class="image">
          <img src="./assets/img/trainers/9.png" class="trainer-img"/>
        </div>
        <div class="text">
          <h4>ATHLETIC CONDITIONING EDUCATION / TRAINER / GROUP CLASS INSTRUCTOR</h4>
          <h3>
            Donna<br>Minotti
          </h3>
          <p>Jennifer has been with Topper Fitness for the past three and a half years. Jen is very knowledgeable in all aspects of daily fitness for all types of individuals. She has an extremely approachable persona that allows her to develop close relationships with her clients to help them achieve their unique fitness goals.</p>
        </div>
      </div>
    </div>
  </div><!-- row -->
</div><!-- container-->
